/**
 * Map Page Styles
 */

.map-page {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 120px); /* Account for header and footer */
}

.map-page__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 120px);
  background: var(--color-surface, #f8fafc);
}
